<style>
	h1, figure, p {
		text-align: center;
		margin: 0 auto;
	}

	h1 {
		font-size: 2.8em;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0 0 0.5em 0;
	}

	figure {
		margin: 0 0 1em 0;
	}

	img {
		width: 100%;
		max-width: 400px;
		margin: 0 0 1em 0;
	}

	p {
		margin: 1em auto;
	}

	@media (min-width: 480px) {
		h1 {
			font-size: 4em;
		}
	}
</style>

<svelte:head>
	<title>Bienvenido a AprendJS</title>
</svelte:head>

<h1>¡EXCELENTE!</h1>

<figure>
	<img alt='Borat' src='https://res.cloudinary.com/twenty20/private_images/t_standard-fit/v1521838921/photosp/e73efffb-ac7c-4ea8-873d-407b01d8aef3/e73efffb-ac7c-4ea8-873d-407b01d8aef3.jpg'>
	<figcaption>HIGH FOUR!</figcaption>
</figure>

<p><strong>Try editing this file (src/routes/index.svelte) to test live reloading.</strong></p>
